@keyframes spin {
  from {
    rotate: 2turn;
  }
}
#header__logo {
  height: 4em;
  box-shadow: 0 5px 5px grey;
  display: flex;
  align-items: center;
  overflow: visible;
}
#header__logo > img {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  flex-direction: column;
  width: 10em;
  vertical-align: center;
  margin: 1em auto 1em auto;
}
#header__place {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #d6d6d6;
  opacity: 0.8;
  height: 2.5em;
}
#header__place__text {
  margin-left: 0.5em;
  font-weight: bold;
}
#header__form {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  flex-direction: column;
  padding: 1em 1.5em;
}
#header__form > * {
  text-align: center;
}
#header__form > p {
  max-width: 20em;
}
#header__form__button {
  background: linear-gradient(#ff79da, #9356DC);
  color: white;
  padding: 1em;
  border-radius: 25px;
  border: none;
  box-shadow: 0 5px 5px #b1b1b1;
}
#header__tuto {
  padding: 1em 1.5em;
}
#header__tuto i {
  color: #9356DC;
}
#header__tuto ol {
  list-style-type: none;
  padding: 0.5em;
}
#header__tuto li {
  border-radius: 20px;
  font-weight: bold;
  font-size: medium;
  padding: 1.75em 1em;
  margin-bottom: 1em;
  box-shadow: 0 5px 5px #b1b1b1;
  background-color: #f2f2f2;
}
#header__tuto li > mark {
  background-color: #9356DC;
  padding: 0.3em 0.6em;
  border-radius: 50%;
  color: white;
  margin-left: -2em;
  margin-right: 1em;
}

.restaurants {
  padding-left: 1.5em;
  padding-right: 1.5em;
  width: auto;
}
.restaurants__liste {
  padding-bottom: 2em;
}
.restaurants__liste > a {
  text-decoration: none;
  color: unset;
  cursor: pointer;
}
.restaurants__liste__item {
  width: 100%;
  position: relative;
  border-radius: 10px;
  height: 15em;
  overflow: hidden;
  box-shadow: 0 10px 20px #e4e4e4;
}
.restaurants__liste__item > img {
  width: 100%;
  height: 10em;
  object-fit: cover;
}
.restaurants__liste__item__nouveau {
  background-color: #99e2d0;
  color: #278870;
  width: 4em;
  position: absolute;
  top: 1.5em;
  right: 2em;
  padding: 0.25em 0.5em;
}
.restaurants__liste__item__description {
  display: flex;
  padding-top: 0.5em;
  padding-bottom: 1em;
  align-items: center;
  padding-left: 1em;
  padding-right: 1em;
  justify-content: space-between;
}
.restaurants__liste__item__description__txt {
  text-decoration: none;
  color: unset;
  margin-block-end: 0em;
}
.restaurants__liste__item__description__txt > h2 {
  margin-block-start: 0em;
  margin-block-end: 0em;
}
.restaurants__liste__item__description__txt > p {
  margin-block-start: 0.4em;
  margin-block-end: 0em;
}
.restaurants__liste__item__description__heart {
  z-index: 10;
  font-size: 2em;
}
.restaurants__liste__item__description__heart:hover .restaurants__liste__item__description__heart__heart-checked {
  background: linear-gradient(#ff79da, #9356DC);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  opacity: 1;
}
.restaurants__liste__item__description__heart__heart-normal {
  position: absolute;
}
.restaurants__liste__item__description__heart__heart-normal:hover {
  opacity: 0;
}
.restaurants__liste__item__description__heart__heart-checked {
  opacity: 0;
}

h3 {
  font-family: Shrikhand;
  font-size: 2em;
  margin-block-start: 0.5em;
  margin-block-end: 0.5em;
}

#header {
  width: 100%;
}
#header__logo-fleche {
  display: flex;
  width: auto;
  flex-direction: row;
  padding: 1em 1em;
}
#header__logo-fleche__fleche {
  font-size: 2rem;
  color: unset;
}
#header__logo-fleche__logo {
  display: flex;
  justify-content: center;
  align-items: center;
}
#header__logo-fleche__logo > img {
  width: 60%;
}
#header__image {
  width: 100%;
  position: relative;
}
#header__image > img {
  width: 100%;
  object-fit: cover;
  height: 20em;
}
#header__nom-coeur {
  margin-top: -3em;
  position: absolute;
  background-color: #f0f0f0;
  border-radius: 20px 20px 0 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 1em;
  width: 92.5%;
}
#header__nom-coeur__heart {
  font-size: 2em;
}
#header__nom-coeur__heart:hover #header__nom-coeur__heart__heart-checked {
  background: linear-gradient(#ff79da, #9356DC);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  opacity: 1;
}
#header__nom-coeur__heart__heart-normal {
  position: absolute;
}
#header__nom-coeur__heart__heart-normal:hover {
  opacity: 0;
}
#header__nom-coeur__heart__heart-checked {
  opacity: 0;
}

.main {
  background-color: #f0f0f0;
  padding: 0.5em;
}
.main__menu__plat {
  display: flex;
  align-items: center;
  box-shadow: 0 10px 20px #cccccc;
  overflow: hidden;
  width: auto;
  border-radius: 10px;
  background-color: white;
  height: 5em;
  margin-bottom: 1em;
  padding-left: 0.5em;
}
.main__menu__plat:hover .main__menu__plat__check {
  margin-right: 0em;
  transition: 700ms ease-in-out;
}
.main__menu__plat:hover .fas {
  animation: spin 1s;
}
.main__menu__plat h6 {
  font-size: 1.2em;
  width: auto;
  margin-block-start: 0.5em;
  margin-block-end: 0.5em;
}
.main__menu__plat__p {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-block-end: 0em;
}
.main__menu__plat__p__prix {
  font-weight: bold;
}
.main__menu__plat__check {
  color: white;
  background-color: #99e2d0;
  height: 5em;
  width: 3em;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2em;
  margin-left: 0.3em;
  margin-right: -3em;
}
.main__menu__plat div:first-child {
  flex-grow: 1;
}
.main__button {
  display: flex;
  justify-content: center;
  margin-top: 2em;
  margin-bottom: 2em;
}
.main__button > input {
  background: linear-gradient(#ff79da, #9356DC);
  color: white;
  padding: 1em;
  border-radius: 25px;
  border: none;
  box-shadow: 0 5px 5px #b1b1b1;
}

.underline {
  padding-bottom: 0.3em;
  border-bottom: 5px #99e2d0 solid;
  margin-bottom: 1em;
}

body {
  margin: 0em;
  font-family: Roboto;
}

#footer {
  background-color: #3d3d3d;
  color: white;
  margin-bottom: -1em;
  font-weight: bold;
}
#footer__logo {
  width: 8em;
  padding-left: 1em;
  padding-top: 1em;
  filter: invert(100%);
  -webkit-filter: invert(100%);
}
#footer__liste {
  list-style-type: none;
  padding-left: 20px;
  padding-bottom: 1em;
}
#footer__liste > li > i {
  font-size: 0.8rem;
}

.mail {
  text-decoration: none;
  color: unset;
}

/*# sourceMappingURL=style.css.map */
