body {
  margin: 0em;
  font-family: Roboto;
}

.footer {
    background-color: $color_footer_bg;
    color: $color_white;
    margin-bottom: -1em;
    padding-bottom: 0.5em;
    &__logo {
      width: 8em;
      padding-left: 1em;
      padding-top: 1em;
      filter: invert(100%); 
      -webkit-filter:invert(100%); 
    }
    &__liste {
      list-style-type: none;
      padding-left: 20px;
      padding-bottom: 1em;
      &__avec_image{
        font-weight: bold;
      }
      > li{
        padding-bottom: 0.5em;
        > i {
          font-size: 0.8rem;
        }
      }
    }
}

.mail {
  text-decoration: none;
  color: unset;
}