h3 {
  font-family: Shrikhand;
  font-size: 2em;
  margin-block-start: 0.5em;
  margin-block-end: 0.5em;
}

#loading {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 10;
  background-color: white;
  display: flex;
  font-size: 4em;
  color: $color1;
  align-items: center;
  justify-content: center;
  animation: load 0s 2s;
  animation-fill-mode: both;
  > i {
    animation: spin 2.5s reverse linear infinite;
  }
}

#header {
  width: 100%;
  &__logo-fleche {
    display: flex;
    width: auto;
    justify-content: space-between;
    flex-direction: row;
    padding: 1em 1em;
    &__fleche {
      font-size: 2rem;
      color: unset;
    }
    &__logo {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100%;
      > img {
        width: 15em;
      }
    }
  }
  &__image {
    width: 100%;
    position: relative;
    > img {
      width: 100%;
      object-fit: cover;
      height: 20em;
    }
  }
  &__nom-coeur {
    margin-top: -3em;
    position: absolute;
    @include color-main_bg;
    border-radius: 20px 20px 0 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;

    &__nom {
      padding-left: 0.5em;
    }

    &__heart {
      padding-right: 0.5em;
      font-size: 2em;
      &:hover &__heart-checked {
        background: linear-gradient($color2, $color1);
        background-clip: text;
        -webkit-background-clip: text;
        color: transparent;
        opacity: 1;
      }
      &__heart-normal {
        position: absolute;
        &:hover {
          opacity: 0;
        }
      }
      &__heart-checked {
        opacity: 0;
      }
    }
  }
}

.main {
  @include color-main_bg;
  padding: 0.5em;
  &__menu {
    &__plat {
      overflow: hidden;
      display: flex;
      align-items: center;
      box-shadow: 0 10px 20px rgb(204, 204, 204);
      overflow: hidden;
      width: auto;
      border-radius: 10px;
      background-color: white;
      height: 5em;
      margin-bottom: 1em;
      padding-left: 00.5em;

      &:hover &__check {
        margin-right: 0em;
        transition: 700ms ease-in-out;
      }

      &:hover .fas {
        animation: spin 1s;
      }

      h6 {
        font-size: 1.2em;
        margin-block-start: 0.5em;
        margin-block-end: 0.5em;
        width: 100%;
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
      }
      &__p {
        display: flex;
        justify-content: space-between;
        margin-block-end: 0em;

        &__prix {
          font-weight: bold;
        }
        span:first-child {
          white-space: nowrap;
          text-overflow: ellipsis;
          width: 80%;
          flex-grow: 1;
          overflow: hidden;
        }
      }
      &__check {
        color: $color_white;
        background-color: $color3;
        height: 100%;
        width: 3em;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 2em;
        margin-left: 0.3em;
        flex-shrink: 0;
        margin-right: -3em;
      }
      div:first-child {
        flex-grow: 1;
        min-width: 70%;
      }

      //animation
      animation: animation-plat 1s ease-out;
      animation-fill-mode: both;
      &--1 {
        animation-delay: 2.25s;
      }
      &--2 {
        animation-delay: 2.5s;
      }
      &--3 {
        animation-delay: 2.75s;
      }
      &--4 {
        animation-delay: 3s;
      }
      //
    }
  }
  &__button {
    display: flex;
    justify-content: center;
    margin-top: 2em;
    margin-bottom: 2em;
    > button {
      @include button;
    }
  }
}

.underline {
  padding-bottom: 0.3em;
  border-bottom: 5px $color3 solid;
  margin-bottom: 1em;
}
